.u-section-1 .u-sheet-1 {
  min-height: 858px;
}

.u-section-1 .u-text-1 {
  font-size: 12.5rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 174px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 60px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1500ms;
  transition-duration: 0.5s;
  text-transform: uppercase;
  font-weight: 700;
  margin: 100px auto -56px;
  padding: 26px 90px 26px 89px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 61px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: -144px;
  }
}

.u-section-1 .u-btn-1 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-1 .u-btn-1:hover {
  transform: scale(1.25) !important;
}